* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	color: #fafafa;
}

::placeholder {
    color: #dadada;
    opacity: 1;
}

select {
	margin: 5px;
	border: none;
	background: none;
	box-shadow: none;
}

button {
	margin: 5px;
	border: none;
	background: none;
	box-shadow: none;
}

input {
	margin: 5px;
	border: none;
	background: none;
	box-shadow: none;
}

.error {
	color: #000 !important;
	background-color: #ff00ff !important;
}

.error::placeholder {
	color: #333 !important;
}

.action {
	position: fixed;
	padding: 5px;
	background-color: #e6194b;
	right: 10px;
	top: 10px;
}

.action button {
	width: 80px;
	color: #fafafa;
	background: #ef859e;
}

.action input {
	width: 80px;
	color: #fafafa;
	background: #ef859e;
}

.action select {
	color: #fafafa;
	background: #ef859e;
}

.action select option {
	color: #fafafa;
	background: #ef859e;
}

.action.static {
	background-color: #9E6070;
}

.action.static button {
	width: 80px;
	color: #fafafa;
	background: #ca93a1;
}


.action.static select {
	color: #fafafa;
	background: #ca93a1;
}

.action.static select option {
	color: #fafafa;
	background: #ca93a1;
}

.action.static input {
	width: 80px;
	color: #fafafa;
	background: #ca93a1;
}

.repeat {
	position: fixed;
	padding: 5px;
	background-color: #0082c8;
	right: 10px;
	top: 60px;
}

.repeat button {
	width: 80px;
	color: #fafafa;
	background: #68b2da;
}

.repeat input {
	width: 80px;
	color: #fafafa;
	background: #68b2da;
}

.repeat input.times {
	width: 170px;
	display: block;
	color: #fafafa;
	background: #68b2da;
}

.repeat select {
	color: #fafafa;
	background: #68b2da;
}

.repeat select option {
	color: #fafafa;
	background: #68b2da;
}

.wait {
	position: fixed;
	padding: 5px;
	background-color: #008080;
	right: 10px;
	top: 110px;
}

.wait button {
	width: 80px;
	color: #fafafa;
	background: #4dc1c1;
}

.wait input {
	width: 80px;
	color: #fafafa;
	background: #4dc1c1;
}

.wait select {
	color: #fafafa;
	background: #4dc1c1;
}

.wait select option {
	color: #fafafa;
	background: #4dc1c1;
}

.spawn {
	position: fixed;
	padding: 5px;
	background-color: #911eb4;
	right: 10px;
	top: 160px;
}

.spawn button {
	width: 80px;
	color: #fafafa;
	background: #d797ea;
}

.spawn input {
	width: 80px;
	color: #fafafa;
	background: #d797ea;
}

.enemy {
	position: fixed;
	padding: 5px;
	background-color: #f58231;
	right: 10px;
	top: 160px;
}

.blocktitle {
	display: inline-block;
	margin-right: 3px;
}

.drag-drop {
	padding: 10px;
	display: inline-block;
	min-width: 40px;
	min-height: 20px;
	color: #fff;
	border: solid 2px #fff;
}

.static {
	opacity: 1;
	position: relative;
	display: block;
	top: 0;
	left: 0;
	right: auto;
	bottom: auto;
	padding: 10px;
	min-width: 40px;
	min-height: 20px;
	border: solid 2px #fff;
	margin: 10px;
}

.dragging {
	opacity: 0.5;
}

.dropzone {
	margin: 10px;
	background-color: #fafafa;
	opacity: 0.3;
	height: 5px;
	width: 150px;
}

.trashcan {
	position: fixed;
	padding: 5px;
	right: 50px;
	bottom: 50px;
	background-color: red;
}

.dropzone.drop-active {
	height: 30px;
	background-color: #4e4e;
}

.document {
	position: absolute;
	min-height: 50px;
	margin: 20px;
	padding: 5px;
	padding: 10px;
	display: inline-block;
	color: #fff;
	border: solid 2px #fff;
	background-color: #e6beff	;
}

.document button {
	width: 80px;
	color: #fafafa;
	background: #9438ce;
}

.main {
	height: 50px;
	margin: 20px;
}

.main.drop-active {
	height: 150px;
	background-color: #4e4e;
}

.main p {
	color: #000000;
	opacity: 1;
}
