* {
	margin: 0px;
	padding: 5px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: #fafafa;
}

::placeholder {
    color: #dadada;
    opacity: 1;
}

select {
	margin: 5px;
	border: none;
	background: none;
	box-shadow: none;
}

button {
	margin: 5px;
	border: none;
	background: none;
	box-shadow: none;
}

input {
	margin: 5px;
	border: none;
	background: none;
	box-shadow: none;
}

.delete {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 0.8em;
	width: 1.3em;
	padding: 0px;
	border-radius: 30px;
	font-weight: bold;
}

.expanded {
	margin: 5px;
}

.error {
	color: #000 !important;
	background-color: #ff00ff !important;
}

.error::placeholder {
	color: #333 !important;
}

.collapsed div {
	height: 0px;
	display: inline-block;
	visibility: hidden;
}

.collapsed {
	padding: 0px;
	height: 5px;
	margin: 5px;
 	background-color: #ef859e;
}

.buttons {
	margin: 5px;
	padding: 2px;
	display: inline-block;
	border: solid 2px #fff;
}

.buttons.close {
	border-radius: 50px;
}

.action {
	border: solid 2px #fff;
	background-color: #e6194b;
}

.action button.action {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #ef859e;
}

.action input.action {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #ef859e;
}

.action select.action {
	border: none;
	color: #fafafa;
	background: #ef859e;
}

.action select.action option {
	border: none;
	color: #fafafa;
	background: #ef859e;
}

.action.static {
	border: solid 2px #fff;
	background-color: #9E6070;
}

.action.static button.action.static {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #ca93a1;
}


.action.static select.action.static {
	border: none;
	border: none;
	color: #fafafa;
	background: #ca93a1;
}

.action.static select.action.static option {
	border: none;
	color: #fafafa;
	background: #ca93a1;
}

.action.static input.action.static {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #ca93a1;
}

.repeat {
	border: solid 2px #fff;
	background-color: #0082c8;
}

.repeat button.repeat {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #68b2da;
}

.repeat input.repeat {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #68b2da;
}

.repeat input.times {
	border: none;
	width: 170px;
	display: block;
	color: #fafafa;
	background: #68b2da;
}

.repeat select.repeat {
	border: none;
	color: #fafafa;
	background: #68b2da;
}

.repeat select.repeat option {
	border: none;
	color: #fafafa;
	background: #68b2da;
}

.wait {
	border: solid 2px #fff;
	background-color: #008080;
}

.wait button.wait {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #4dc1c1;
}

.wait input.wait {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #4dc1c1;
}

.wait select.wait {
	border: none;
	color: #fafafa;
	background: #4dc1c1;
}

.wait select.wait option {
	border: none;
	color: #fafafa;
	background: #4dc1c1;
}

.spawn {
	border: solid 2px #fff;
	background-color: #911eb4;
}

.spawn button.spawn {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #d797ea;
}

.spawn input.spawn {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #d797ea;
}

.enemy {
	border: solid 2px #fff;
	background-color: #f58231;
}

.variable {
	border: solid 2px #fff;
	background-color: #22b41e;
}

.variable input.variable {
	border: none;
	width: 80px;
	color: #fafafa;
	background: #93ce92;
}

.variable select.variable {
	border: none;
	color: #fafafa;
	background: #93ce92;
}

.variable select.variable option {
	border: none;
	color: #fafafa;
	background: #93ce92;
}

.blocktitle {
	display: inline-block;
	margin-right: 3px;
}

.document {
	position: absolute;
	min-height: 50px;
	margin: 20px;
	padding: 5px;
	padding: 10px;
	display: inline-block;
	color: #fff;
	border: solid 2px #fff;
	background-color: #e6beff	;
}

.document button {
	border: 2px;
	width: 80px;
	color: #fafafa;
	background: #9438ce;
}

.main {
	height: 50px;
	margin: 20px;
}

.main.drop-active {
	height: 150px;
	background-color: #4e4e;
}

.main p {
	color: #000000;
	opacity: 1;
}
