* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	color: #fafafa;
}

::placeholder {
    color: #cacaca;
    opacity: 1;
}

.action {
	position: fixed;
	padding: 5px;
	background-color: #e6194b;
	right: 10px;
	top: 10px;
}

.action button {
	width: 80px;
	color: #fafafa;
	background: #e6194b;
}

.action input {
	width: 80px;
	color: #fafafa;
	background: #e6194b;
}

.action select {
	color: #fafafa;
	background: #e6194b;
}

.action select option {
	color: #fafafa;
	background: #e6194b;
}

.action.static button {
	width: 80px;
	color: #fafafa;
	background: #9E6070;
}

.action.static {
	background-color: #9E6070;
}

.action.static select {
	color: #fafafa;
	background: #9E6070;
}

.action.static select option {
	color: #fafafa;
	background: #9E6070;
}

.action.static input {
	width: 80px;
	color: #fafafa;
	background: #9E6070;
}

.repeat {
	position: fixed;
	padding: 5px;
	background-color: #0082c8;
	right: 10px;
	top: 60px;
}

.blocktitle {
	display: inline-block;
	margin-right: 3px;
}

.drag-drop {
	padding: 10px;
	display: inline-block;
	min-width: 40px;
	min-height: 20px;
	color: #fff;
	border: solid 2px #fff;
}

.static {
	opacity: 1;
	position: relative;
	display: block;
	top: 0;
	left: 0;
	right: auto;
	bottom: auto;
	padding: 10px;
	min-width: 40px;
	min-height: 20px;
	border: solid 2px #fff;
	margin: 10px;
}

.dragging {
	opacity: 0.5;
}

.dropzone {
	margin: 10px;
	background-color: #fafafa;
	opacity: 0.3;
	height: 5px;
	width: 150px;
}

.trashcan {
	position: fixed;
	padding: 5px;
	right: 50px;
	bottom: 50px;
	background-color: red;
}

.dropzone.drop-active {
	height: 30px;
	background-color: #4e4e;
}

.main{
	height: 50px;
	margin: 20px;
}

.main.drop-active {
	height: 150px;
	background-color: #4e4e;
}

.main p{
	color: #e6194b;
	opacity: 1;
}
